---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="Information | Antoine"
	description="Vous allez apprendre a plus me connaitre"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Qui suis-je ?"
				tagline="Vous découvrirez ici plus d'informations concernant mon parcours, mes formations et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Après avoir obtenu un BTS MCO (Commerce, Marketing et
						Gestion), j'ai entrepris une Transition Audacieuse vers
						le monde de l'Informatique, attiré par les Opportunités
						offertes par la Technologie Blockchain et les
						Intelligences Artificielles. Cette décision marque le
						début d'un Parcours passionnant où je Fusionne ma solide
						Expérience Commerciale avec un Intérêt croissant pour
						les Technologies Émergentes.
					</p>
					<br />
					<p>
						Mon parcours témoigne d'une véritable passion pour
						l'innovation technologique et d'une volonté inébranlable
						de rester à la pointe de l'évolution numérique. Je suis
						animé par le désir de contribuer activement à la
						transformation de l'écosystème numérique et de repousser
						les limites de ce qui est possible grâce à ma vision
						commerciale éclairée et mes compétences techniques en
						constante évolution.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>
						2023 / 2026 : Bachelor Informatique chez <a
							href="https://education.headn.fr/formation/bachelor-web-3"
							>Headn Education</a
						> (Bac +3)
					</p>
					<p>
						2021 / 2023 : Obtention du <a
							href="https://www.perrimond.eu/bts-mco-marseille/"
							>BTS Management Commercial Opérationnel</a
						> (Bac +2)
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>- Web :</p>
					<ul>
						<li>Front-end</li>
						<ul>
							<li>HTML / CSS</li>
							<li>JavaScript</li>
						</ul>
						<li>Back-end :</li>
						<ul>
							<li>PHP</li>
						</ul>
					</ul>
					<p>- Algorithmes et Développement :</p>
					<ul>
						<li>Python</li>
					</ul>
					<p>Outils et Technologies :</p>
					<ul>
						<li>Git</li>
						<li>Docker</li>
						<li>Linux</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
